<!DOCTYPE html>
<html>
    <head>

        
    </head>
    <footer>
        <link rel="stylesheet" href="/stylesheets/style.css"/>
        <p>&copy; 2024 by Eric Ali, contact eric.ali@ontariotechu.ca for any further inquiries</p>
    </footer>
</html>
