<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css"/>
    
    <%- include('partials/nav.ejs') %>
  </head>
  <body>
    <img class = "bg_image" src="https://images.unsplash.com/photo-1730908706088-df9aabe913ba?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="bgimage">
    <%- include('partials/footer.ejs') %>
    <h1><%= title %></h1>
    <p class="abouttxt">Hey there, welcome to my webpage!! My name is Eric Ali, I'm 24 years old and currently a student on Ontario Tech
        University. I enjoy playing sports, gaming and coding and hope that one day I can have a cool job in the Tech
        industry. Thanks for stopping by and checking out my stuff!! </p>
  </body>
</html>